
/* ------ GENERALES ------*/

* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          line-height: normal;
        }
        
        @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
        
        /* ------ GENERAL ------ */
        html {
          scroll-behavior: smooth;
        }
        
        body {
          color: $secondary-color;
          background-image: url("../images/Wallpaper.jpg");
          background-repeat: repeat;
          background-attachment: fixed;
        }
        
        main {
          padding-top: 92px;
        }
        
        h1,
        h2 {
          padding-top: map-get($titleStyles,paddingT );
          padding-bottom: map-get($titleStyles,paddingB );
          text-align: map-get($titleStyles,tAlign );
          text-transform: map-get($titleStyles,tTransform );
          color: map-get($titleStyles,tColor);
          font-weight: map-get($titleStyles,fWeight);
        }
        
        h1 {
          font-size: 32px;
        }
        
        h2 {
          font-size: 24px;
        }
        
        h1::after {
          content: " ";
          background: $primary-color;
          display: block;
          width: 80px;
          height: 4px;
          bottom: 0;
          margin: 0 auto 0 auto;
          text-decoration: underline;
        }
        
        h3 {
          font-size: 18px;
          font-weight: $font-weight-700;
        }
        
        h4 {
          font-size: 16px;
        }
        
        h3,
        h4,
        p {
          margin: 0;
          padding: 0;
        }
        
        a {
          text-decoration: none;
        }
        
        img {
          vertical-align: top;
        }
        
        ul,
        ol {
          margin: 0;
        }

          /*Descripción de cada página*/
  .section-description {

    @include FlexboxInfo(flex,column,wrap);
    align-items: center;
  
    p {
      color: $font-color-primary;
      text-align: center;
      padding-bottom: 16px;
    }
  }

  /* ------ flecha para volver arriba ------ */
.back-to-top {
  position: fixed;
  display: inline;
  width: 54px;
  height: 54px;
  border-radius: 26px;
  right: 15px;
  bottom: 30px;
  background: $primary-color;
  /*color: $font-color-primary;*/
  transition: display 0.5s ease-in-out;
  z-index: 994;
  
  i {
    font-size: 30px;
    position: absolute;
    top: 6px;
    left: 7px;
    
    /*
    &:hover {
      color:$font-color-primary;
      transition: background 0.2s ease-in-out;
    }
    */
    
    }
    
  }
  .arrow-up{
    height: 40px;
}



