/* ------ MAPS ------*/

$titleStyles:(paddingT:25px,paddingB:15px,tAlign:center,tTransform:uppercase,tColor:$font-color-primary,fWeight:$font-weight-700);

$borderPrimary:(borderPri:3px solid $primary-color,borderRadiusPri:6px);

$borderSecondary:(borderSec:1px solid $secondary-color,borderRadiusSec: 3px);
