/* ------ SECTION TIPOS DE MATE ------ */

.container-tipos_mate {
      display: grid;
    
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 370px 370px 370px;
      grid-column-gap: 20px;
      justify-content: center;
    }
    
    .tipos_mate {
      @include FlexboxInfo(flex,column,wrap);
      align-items: center;
      margin-bottom: 20px;
      background-color: beige;
      border-radius: 6px;
      padding-bottom: 10px;
    
      img {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 300px;
        border: map-get($borderPrimary,borderPri);
        border-radius: map-get($borderPrimary,borderRadiusPri);
      }
    
      h3 {
        padding-top: 10px;
        text-align: center;
      }
    
      
      &:hover {
        transform: scale(1.1); //Hacemos como un acercamiento (zoom)
      }
    }
    
    /*------------------------------------------------------------------*/