$primary-color: #4fab4c; //Verde
$font-weight-600: 600; //En Negrita

/* ------ SECTION SECRETOS DEL MATE ------ */

.secretos_mate {
      border: 3px solid $primary-color;
      background-color: beige;
      border-radius: 6px;
      margin-bottom: 20px;
    }
    
    .description-secretos_mate {
      h3 {
        text-align: center;
        color: $primary-color;
      }
    
      p {
        padding-bottom: 10px;
      }
    
      span {
        font-weight: $font-weight-600;
      }
    
      ul {
        padding-left: 16px;
      }
    
      li {
        padding-bottom: 3px;
      }
    }
    
    .video-secretos_mate {
      padding-top: 4px;
      width: 100%;
    }
    
    /*------------------------------------------------------------------*/