
/* ------ SECTION INDEX ------ */

.index-container {
      @include FlexboxInfo(flex,row,wrap);
      justify-content: space-around;
    }
    
    /* -- Noticias -- */
    .news-container {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
    
    .news {
      margin-bottom: 10px;
      background-color: beige;
      border: map-get($borderPrimary,borderPri);
      border-radius: map-get($borderPrimary,borderRadiusPri);
    }
    
    .news-photo {
      padding-top: 4px;
      padding-left: 4px;
    
      img {
        width: 100%;
        height: 200px;
      }
    }
    
    .news-description {
      @include FlexboxInfo(flex,column,wrap);
      width: 70%;
      padding-left: 10px;
    
      h3 {
        padding-bottom: 6px;
      }
    
      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
      }
    }
    
    /* -- Publicidad -- */
    .publicidad-container {
      padding-right: 22px;
      padding-top: 22px;
    }
    
    .publicidad {
      padding-bottom: 12px;
    
      img {
        border: map-get($borderPrimary,borderPri);
        border-radius: map-get($borderPrimary,borderRadiusPri);
        width: 360px;
        height: 300px;
        box-shadow: 3px 3px 6px 2px black;
      }
    }
    
    /*------------------------------------------------------------------*/