
/* ------ SECTION NOSOTROS ------ */

.container-nosotros {
      @include FlexboxInfo(flex,row,wrap);
      justify-content: center;
      padding-bottom: 300px;
    }
    
    .nosotros-team {
      margin: 10px;
      background-color: beige;
      border-radius: 6px;
    
      img {
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 350px;
        border: map-get($borderPrimary,borderPri);
        border-radius: map-get($borderPrimary,borderRadiusPri);
      }
    }
    
    .nosotros-team__info {
      h3,
      p {
        text-align: center;
      }
    }
    /*------------------------------------------------------------------*/