
/* ------ VARIABLES ------*/

//Colores Principales
$primary-color: #4fab4c; //Verde
$secondary-color: #000000; //Negro
$font-color-primary: #ffffff; //Color de fuente principal (h1 y h2 por ejemplo)

$font-weight-700: 700; //En Negrita
$font-weight-600: 600; //En Negrita