@charset "UTF-8";
/* ------ VARIABLES ------*/
/* ------ MAPS ------*/
/* ------ MIXIN ------*/
/* ------ GENERALES ------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

/* ------ GENERAL ------ */
html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-image: url("../images/Wallpaper.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

main {
  padding-top: 92px;
}

h1,
h2 {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h2::after {
  content: " ";
  background: #4fab4c;
  display: block;
  width: 80px;
  height: 4px;
  bottom: 0;
  margin: 0 auto 0 auto;
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
}

h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol {
  margin: 0;
}

/*Descripción de cada página*/
.section-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.section-description p {
  color: #ffffff;
  text-align: center;
  padding-bottom: 16px;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
  position: fixed;
  display: inline;
  width: 54px;
  height: 54px;
  border-radius: 26px;
  right: 15px;
  bottom: 30px;
  background: #4fab4c;
  /*color: $font-color-primary;*/
  transition: display 0.5s ease-in-out;
  z-index: 994;
}

.back-to-top i {
  font-size: 30px;
  position: absolute;
  top: 6px;
  left: 7px;
  /*
    &:hover {
      color:$font-color-primary;
      transition: background 0.2s ease-in-out;
    }
    */
}

.arrow-up {
  height: 40px;
}

/* ------ HEADER ------*/
nav {
  width: 100%;
  background-color: #000000;
  /*position: fixed;
          z-index: 100;*/
  border-bottom: 3px solid #4fab4c;
}

.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.menu-logo {
  width: 138px;
  height: 90px;
}

.offcanvas-header .menu-logo {
  margin: auto;
}

.header-logo {
  width: 100%;
  height: 100%;
}

.menu-nav__bar {
  flex-grow: 0;
}

.menu-nav__bar ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}

.menu-nav__bar li {
  margin-right: 15px;
  list-style: none;
}

.menu-nav__bar li:active {
  border-radius: 3px;
  background: #4fab4c;
}

.menu-nav__bar a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.menu-nav__bar a:hover {
  border-radius: 3px;
  background: #4fab4c;
}

.active {
  background-color: #4fab4c;
  border-radius: 3px;
}

/*Menú Hamburguesa*/
#burger-menu {
  background-color: #ffffff;
  margin-right: 20px;
}

.index-portada {
  padding-bottom: 10px;
}

.index-portada img {
  width: 100%;
}

/* ------ FOOTER ------*/
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000000;
  border-bottom: 3px solid #4fab4c;
}

.footer-contact h4,
.footer-menu h4,
.footer-redes-sociales h4 {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
}

/* -- footer de contacto (izq) -- */
.footer-contact p {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  color: #ffffff;
}

.footer-contact p > strong {
  font-weight: 600;
  color: #4fab4c;
}

/* -- footer de menu (centro) -- */
.footer-menu {
  padding: 0 10px 0;
}

.footer-menu ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 0;
}

.footer-menu li {
  padding: 6px;
  margin-left: 90px;
}

.footer-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 3px;
}

.footer-menu a:hover {
  background-color: #4fab4c;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.social-links img:hover {
  /*Grados de rotación de los íconos*/
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /*Velocidad de rotación de los íconos*/
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -ms-transition: 1s all ease;
}

/* -- footer copyright -- */
.footer-copyright {
  background-color: #000000;
  height: 40px;
  color: #ffffff;
  padding: 4px;
  text-align: center;
}

/*------------------------------------------------------------------*/
/* ------ SECTION INDEX ------ */
.index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* -- Noticias -- */
.news-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.news {
  margin-bottom: 10px;
  background-color: beige;
  border: 3px solid #4fab4c;
  border-radius: 6px;
}

.news-photo {
  padding-top: 4px;
  padding-left: 4px;
}

.news-photo img {
  width: 100%;
  height: 200px;
  padding-bottom: 4px;
}

.news-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  padding-left: 10px;
}

.news-description h3 {
  padding-bottom: 6px;
}

.news-description a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/* -- Publicidad -- */
.publicidad-container {
  padding-right: 22px;
  padding-top: 22px;
}

.publicidad {
  padding-bottom: 12px;
}

.publicidad img {
  border: 3px solid #4fab4c;
  border-radius: 6px;
  width: 360px;
  height: 300px;
  box-shadow: 3px 3px 6px 2px black;
}

/*------------------------------------------------------------------*/
/* ------ SECTION NOSOTROS ------ */
.container-nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 300px;
}

.nosotros-team {
  margin: 10px;
  background-color: beige;
  border-radius: 6px;
}

.nosotros-team img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 350px;
  border: 3px solid #4fab4c;
  border-radius: 6px;
}

.nosotros-team__info h3,
.nosotros-team__info p {
  text-align: center;
}

/*------------------------------------------------------------------*/
/* ------ SECTION TIPOS DE MATE ------ */
.container-tipos_mate {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 370px 370px 370px;
  grid-column-gap: 20px;
  justify-content: center;
}

.tipos_mate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  background-color: beige;
  border-radius: 6px;
  padding-bottom: 10px;
}

.tipos_mate img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border: 3px solid #4fab4c;
  border-radius: 6px;
}

.tipos_mate h3 {
  padding-top: 10px;
  text-align: center;
}

.tipos_mate:hover {
  transform: scale(1.1);
}

/*------------------------------------------------------------------*/
/* ------ SECTION SECRETOS DEL MATE ------ */
.secretos_mate {
  border: 3px solid #4fab4c;
  border-radius: 6px;
  background-color: beige;
  margin-bottom: 20px;
}

.description-secretos_mate h3 {
  text-align: center;
  color: #4fab4c;
}

.description-secretos_mate p {
  padding-bottom: 10px;
}

.description-secretos_mate span {
  font-weight: 600;
}

.description-secretos_mate ul {
  padding-left: 16px;
}

.description-secretos_mate li {
  padding-bottom: 3px;
}

.video-secretos_mate {
  padding-top: 4px;
  width: 100%;
}

/*------------------------------------------------------------------*/
/* ------ SECTION CONTACTOS ------ */
/* ------ Información de Contacto ------ */
.container-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

/* -- Datos de contacto --*/
.info-contact {
  background-color: beige;
  border-top: 3px solid #4fab4c;
  border-radius: 6px;
  width: 40%;
  height: 667px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 6px 2px black;
}

.info-group {
  padding: 10px 10px 10px 10px;
}

.info-group h3 {
  color: #000000;
  padding-left: 6px;
  padding-top: 4px;
}

.info-group i {
  padding-right: 2px;
  float: left;
}

.info-group p {
  padding-left: 35px;
}

.social-network_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-network_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}

.social-network_info p {
  display: inline;
  padding: 10px 10px 10px 4px;
  /*Top Right Bottom Left*/
}

.social-network_info a {
  display: inline-block;
  text-decoration: none;
}

.info-group img {
  width: 30px;
  height: 30px;
}

.img-social_network {
  width: 30px;
  height: 30px;
}

.info-map {
  border: 3px solid #4fab4c;
  border-radius: 6px;
}

.info-map iframe {
  width: 100%;
}

/* ------ Formulario de Contacto ------ */
.container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: beige;
  border-top: 3px solid #4fab4c;
  border-radius: 6px;
  width: 696px;
  height: 667px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 6px 2px black;
}

form {
  width: 100%;
  height: 100%;
}

/* Contenedor de todos los campos */
.form-fields {
  display: grid;
  grid-template-columns: 348px 348px;
  grid-template-rows: 60px 60px 200px 60px;
  grid-template-areas: "nombre telefono" "mail asunto" "mensaje mensaje" "botones botones";
  justify-items: center;
  padding-top: 13px;
}

.name {
  grid-area: nombre;
  width: 318px;
  height: 50%;
}

.phone {
  grid-area: telefono;
  width: 318px;
  height: 50%;
}

.email {
  grid-area: mail;
  width: 318px;
  height: 50%;
}

.subject {
  grid-area: asunto;
  width: 318px;
  height: 50%;
}

.message {
  grid-area: mensaje;
  width: 664px;
  padding-top: 6px;
}

.buttons {
  grid-area: botones;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.form-control_field input,
.form-control_field select {
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 16px;
  height: 40px;
  width: 318px;
  padding-left: 5px;
}

.form-control_field input:focus,
.form-control_field select:focus,
.form-control_field TextArea:focus {
  outline: none;
  border: 2px solid #000000;
  background-color: #f7f7f7;
}

.form-control_field TextArea {
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 16px;
  width: 664px;
  height: auto;
  font-family: inherit;
  padding-left: 5px;
  padding-top: 5px;
  resize: none;
}

.form-control_field > button {
  width: 120px;
  height: 36px;
  font-size: 16px;
  background-color: #4fab4c;
  border-radius: 3px;
  margin: 0 10px 20px 10px;
  color: #ffffff;
  font-weight: bolder;
  border: none;
}

.form-control_field > button:hover {
  opacity: 0.7;
}

/*------------------------------------------------------------------*/
/* ------ RESPONSIVE ------ */
@media screen and (max-width: 1400px) {
  /* ****** Section Index ****** */
  .publicidad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .publicidad {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .news {
    margin-top: 10px;
  }
  /*----------------------------------*/
}

@media screen and (max-width: 1200px) {
  /* ****** Section Index ****** */
  .index-container {
    justify-content: center;
  }
  .publicidad {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .publicidad img {
    width: 100%;
  }
  .news-container {
    padding-left: 20px;
  }
  .news {
    margin-top: 10px;
  }
  /*----------------------------------*/
  /* ****** Tipos de Mate ****** */
  .container-tipos_mate {
    grid-template-columns: 300px 300px;
  }
  /*----------------------------------*/
  /* ****** Section Contacto ****** */
  .info-contact {
    width: 90%;
    height: 60%;
  }
  .container-form {
    width: 90%;
  }
  /*----------------------------------*/
}

@media screen and (max-width: 1160px) {
  /* ****** Section Contacto ****** */
  .form-fields,
  .form-control_field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .form-control_field {
    padding: 10px 0;
  }
  .form-control_field input,
  .form-control_field select {
    width: 90%;
  }
  .form-control_field TextArea {
    width: 90%;
    padding-top: 13px;
  }
  .name,
  .phone,
  .email,
  .subject {
    width: 90%;
  }
  .message {
    width: 90%;
    padding-top: 13px;
  }
  /*----------------------------------*/
}

@media screen and (max-width: 992px) {
  /* ****** Menú de Navegación ****** */
  .menu-nav__bar ul > li {
    padding-top: 16px;
    margin: auto;
  }
  /* ****** Section Index ****** */
  .news-photo img {
    height: 117px;
  }
  .publicidad {
    padding-left: 20px;
  }
  .publicidad img {
    height: 192px;
    width: 246px;
  }
  /*----------------------------------*/
  /* ****** Footer ****** */
  .footer-container {
    justify-content: flex-start;
  }
  /*----------------------------------*/
  /* ****** Section Tipos de Mate ****** */
  .container-tipos_mate {
    grid-template-columns: 300px;
  }
  /*----------------------------------*/
}

@media screen and (max-width: 768px) {
  /* ****** Section Index ****** */
  .social-links {
    /*padding-left: 25%;*/
    padding-left: 35%;
    padding-bottom: 10px;
  }
  .index-container {
    justify-content: center;
  }
  .news-photo img {
    /*height: auto;*/
    height: 355px;
    margin-left: 4px;
    padding-bottom: 10px;
  }
  .publicidad {
    padding-left: 0;
  }
  /*----------------------------------*/
  /* ****** Footer ****** */
  .footer-container {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
  }
  /*----------------------------------*/
  /* ****** Section Nosotros ****** */
  .container-nosotros {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  /*----------------------------------*/
}

@media screen and (max-width: 576px) {
  /* ****** Section Nosotros ****** */
  .nosotros-team {
    margin: 5px;
  }
  /*----------------------------------*/
  /* ****** Section Tipos de Mate ****** */
  .container-tipos_mate {
    grid-template-columns: 300px;
    grid-template-rows: repeat(9, 370px);
  }
  .tipos_mate img {
    max-width: 300px;
    max-height: 300px;
  }
  /*----------------------------------*/
}

/*----------------------------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */